

{% block profile_navigation %}
    <div class="profile-user-navigation ft-sect">
        <a href="profiles.php" class="$profile a">
            <p>{{canvas.notes.profile.name}}</p>
        </a>
        <a href="history.php" class="$history a">
            <p>History</p>
        </a>
        <a href="draft.php" class="$draft a">
            <p>Drafts</p>
        </a>
        <a href="saved.php" class="$saved a">
            <p>Saved</p>
        </a>
    </div>
{% endblock profile_navigation %}