
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width, height=device-height" />
        <meta name="author" content="Netintui Ent. Ajegunle, Lagos" />
        <meta name="application-name" content="Netintui Notes" />
        <meta name="keywords" content="Netintui,Notes,Creativity,Business,Money,Ideas,Innovation,Notes,Blog,Blogging,news,Design,Productivity,Passion,Tesla,Hustle" />
        <meta name="robots" content="{% block robots %}{% endblock %}" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        <title>{% block title %}{% endblock %} :: Netintui Notes</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="/css/base.css"/>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div id="sidebar">
                {% block sidebar %}
                    <ul>
                        <li><a href="{{ path('note_home') }}">Home</a></li>
                        <li><a href="{{ path('note_about') }}">Blog</a></li>
                    </ul>
                {% endblock %}
            </div>

            <div id="content">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
    </body>
</html>
